<%- include('includes/head.ejs') %>

</head>

<body>
    <form action="/admin/add-user/user" method = 'POST'>
        <input type = "text" name = "name">
        <button type="submit">Add User</button>
    </form>
</body>

<%- include('includes/end.ejs') %>